@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --font-utama: 'Open Sans', sans-serif;
    --font-dropdown: 'Poppins', sans-serif;
}
/* nav start */
.nav{
    justify-content: space-between;
}
.navedit{
    font-family: var(--font-dropdown);
}
.navdrop{
    font-family: var(--font-dropdown);
}
.navdrop .dropdown-menu{
    border-radius: 5px;
    box-shadow: -3px -3px 2px rgba(255,255,255,255),
                5px 5px 15px rgba(0,0,0,2),
                15px 15px 15px rgba(255,255,255,255);
}
.navmasuk{
    font-family: var(--font-dropdown);
}
.navdaftar .nav-item .btn{
    font-family: var(--font-dropdown);
    text-decoration: none;
    background: #C38DFF;
    transition: background 0.2s;
    color: #330369;
}
.navdaftar:hover .nav-item .btn{
    background: #330369;
    color: white;
}
.dropdown-item{
    font-family: var(--font-utama);
}
/* end nav */
.text1{
    position: absolute;
    color: #330369;
    font-size: 60px;
}
.text2{
    position: absolute;
    text-align: center;
    bottom: 200px;
}
.DTBC{
    font-size: 30px;
}
.daftarnav .text-center .btn{
    font-family: var(--font-dropdown);
    width: fit-content;
    border-radius: 6px;
    text-decoration: none;
    background: #C38DFF;
    transition: background 0.2s;
    color: #330369;
}
.daftarnav:hover .text-center .btn{
    background: #330369;
    color: white;
}
.container .cardctn .card{
    box-sizing: border-box;
    border-radius: 2%;
}
.card .card-body .btn{
    border-radius: 6px;
    text-decoration: none;
    background: #C38DFF;
    transition: background 0.2s;
    color: #330369;
}

.card:hover .card-body .btn{
    background: #330369;
    color: white;
}
.txt .text-center .btn{
    font-family: var(--font-dropdown);
    width: fit-content;
    border-radius: 6px;
    text-decoration: none;
    background: #C38DFF;
    transition: background 0.2s;
    color: #330369;
}
.txt:hover .text-center .btn{
    background: #330369;
    color: white;
}
.section .card .image{
    height: 140px;
    width: 140px;
    padding: 3px;
    border-radius: 50%;
    background: whitesmoke;
}
.section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid;
}
.mitra-lg img {
    width: 100%;
    max-width: 100px;
    margin-bottom: 1rem;
}
img, svg {
    vertical-align: middle;
}
.text-center .btn{
    color: #330369;
    background-color: #C38DFF;
}
.text-center:hover .btn{
    color: white;
    background-color: #330369;
}